<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" android:configChanges="orientation|screenSize|keyboardHidden" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" android:configChanges="orientation|screenSize|keyboardHidden" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" android:configChanges="orientation|screenSize|keyboardHidden" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppLeitour"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".view.activity.AnnotationActivity"
            android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".view.activity.PlaceholderActivity"
            android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".view.activity.PublicationEditActivity"
            android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".view.activity.SeePostActivity"
            android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".view.fragment.SavedBookFragment"
            android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".view.activity.SignActivity"
            android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".view.fragment.SocialFragment"
            android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".helper.SharedHelper" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".view.fragment.RegisterFragment"
            android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".view.activity.BookInfoActivity"
            android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".view.fragment.BookSearchFragment"
            android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".view.fragment.LoginFragment"
            android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden" />

        <service
            android:name=".api.ApiRequest"
            android:enabled="true"
            android:exported="true" android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" android:configChanges="orientation|screenSize|keyboardHidden" />

                <category android:name="android.intent.category.LAUNCHER" android:configChanges="orientation|screenSize|keyboardHidden" />
            </intent-filter>
        </activity>
    </application>

</manifest>