<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.INTERNET"
        android:configChanges="orientation|screenSize|keyboardHidden" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:configChanges="orientation|screenSize|keyboardHidden" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:configChanges="orientation|screenSize|keyboardHidden" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppLeitour"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.activity.StartActivity"
            android:exported="false" />
        <activity
            android:name=".screenjourney"
            android:exported="false" />
        <activity
            android:name=".secondsplash"
            android:exported="false" />
        <activity
            android:name=".view.activity.AnnotationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".view.activity.HomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".view.activity.SeePostActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".view.fragment.SavedBookFragment"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".view.activity.SignActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".view.fragment.SocialFragment"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".helper.SharedHelper"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".view.fragment.RegisterFragment"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".view.activity.BookInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".view.fragment.BookSearchFragment"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".view.fragment.LoginFragment"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <service
            android:name=".api.ApiRequest"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".view.activity.splashscreen"
            android:theme="@style/Theme.Design.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:configChanges="orientation|screenSize|keyboardHidden" />

                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:configChanges="orientation|screenSize|keyboardHidden" />
            </intent-filter>
        </activity>
    </application>

</manifest>